.welcome-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 275px;
    height: 150px;
    flex-direction: column;
    margin: auto;
    margin-top: 20vh;
    border-radius: 15px;
    box-shadow: 0 0 9px 2px black;
    
}

