.homepage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
     
}

.movie-card {
    margin: 15px 15px; 
    background-color: rgb(230, 228, 228); 
    max-width: 270px; 
    border-radius: 15px;
    box-shadow: 0 0 9px 2px black;
}